@import "variables";

//noinspection CssUnknownTarget
$themes: (
  light: (
    logo: url("/images/Logo.svg"),
    text: $text--light,
    bg: $bg--light,
    secondary-bg: $secondary-bg--light,
    secondary: $secondary--light,
    secondary-gray: $secondary-gray--light,
    secondary-gray-shadow: $secondary-gray-shadow--light,
    invert: $invert--light,
    main-gradient: $main-gradient,
    main-shadow: $main-shadow--light,
  ),
  dark: (
    logo: url("/images/LogoWhite.svg"),
    text: $text--dark,
    bg: $bg--dark,
    secondary-bg: $secondary-bg--dark,
    secondary: $secondary--dark,
    secondary-gray: $secondary-gray--dark,
    secondary-gray-shadow: $secondary-gray-shadow--dark,
    invert: $invert--dark,
    main-gradient: $main-gradient,
    main-shadow: $main-shadow--dark,
  ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  //noinspection SassScssUnresolvedVariable
  @return map-get($theme-map, $key);
}
