$secondary-bg--light: #fff;
$secondary-bg--dark: #000;

$bg--light: #f7f7f7;
$bg--dark: #1a1a1a;

$secondary--light: #fff;
$secondary--dark: #313131;

$secondary-gray--light: #eaeaea;
$secondary-gray--dark: #272727;

$secondary-gray-shadow--light: #e1e1e1;
$secondary-gray-shadow--dark: #141414;

$text--light: #000;
$text--dark: #fff;

$invert--light: invert(1);
$invert--dark: invert(0);

$main-gradient: linear-gradient(94.82deg, #ff006b 0%, #aa0099 100%);
$main-shadow: 0px 0px 50px rgba(0, 0, 0, 0.07);
$main-color: #d60181;

$main-shadow--light: #ff80cc;
$main-shadow--dark: #62003b;

$secondary-shadow: #ff006b;
